#txtLista{
	padding: 2rem;
	color: #000;
	background-color: #eee;
	font-weight: bold;
	border-radius: 8px;
	font-size: 20px;
	
}
.cabeça{
	
	background-color: #ce93d8; 
	padding: 2rem;
	color: #000;
	font-weight: bold;
	border-radius: 8px;
	font-size: 20px;

}
.corPagina{
	background-color: #ce93d8;

}